#bandeau{
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 9999; /* pour que le bandeau soit toujours au dessus des autres elements */
    margin-bottom: -50px;

    padding: 10px;
    background-color: gray;

    color: white;
    font-family: fantasy, cursive, serif;
    font-size: 130%;
    text-align: center;
}

#fermer{
    display: block;
    cursor: pointer;
    float:right;
    margin-right:30px;
}

#fermer:hover{
        color: black;
    }

/* body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif} */
	
/*
table {
		border-collapse: collapse;
		width: 100%;
	}
*/

thead tr th {
	text-align:center;

/*
		padding: 8px;
*/
	}
td {
	text-align:center;

/*
		padding: 8px;
*/
    }
    
